<div class="background-image">
  <div class="relative">
    <div class="flex-land">
      <div class="landing-text">
        <h1 class="text-white">Less Organising</h1>
        <h1 class="text-white">More Socialising</h1>
      </div>
      <div class="buttons-landing">
      <%= link_to "Sign up", new_user_registration_path, {class: "btn-prim-land"} %>

      <%= link_to "Log in", new_user_session_path, {class: "btn-prim-land"} %>
      </div>
    </div>
  </div>
</div>









