$color-red: #DD4F3C;
$color-green: #4BD25B;

$dirty-white: #FFFFFA;


// wagon colors
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
